:root {
    --color-1: #cfdbd5; // neutral-300
    --color-2: #e8eddf; // stone-200
    --color-3: #f5cb5c; // amber-300
    --color-4: #242423; // neutral-800
    --color-5: #333533; // zinc-800
    /* https://coolors.co/palette/cfdbd5-e8eddf-f5cb5c-242423-333533 */
}

* {
    color: var(--color-4);
}

.inputFields {
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
